:root{
    --primary-color:#057BC1;
    --Surface-1:#FFFFFA;
    --surface-Surface-3: #D9D9D9;
}

.muted{
    background-color:rgba(235, 235, 235, 1) !important;
    color: black !important;
    font-weight: 700 !important;
    border: 1px solid rgba(235, 235, 235, 1) !important;
}

.blueText{
    color: var(--primary-color) !important;
}

.blueBg{
    background-color: var(--primary-color) !important;
}

.black-50{
    color: rgba(0, 0, 0, 0.50);
}

.black-80{
    color: rgba(0, 0, 0, 0.80);
}